


{% block form_row %}
    <div class="form-group">

        {{ form_widget(form, {'attr':{'class':'form-control','placeholder':name }}) }}
    </div>
{% endblock %}


{% block _annonce_images_widget %}
    <div class="displayMore">
        <p>Ici, vous pouvez ajouter vos propres images</p>
        <p class="h5">Images :</p>
        {{ form_widget(form) }}
        <input type="hidden" id="widgets-counter" value="0">
        <div class="row">
            <div class="form-group">
                <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block _annonce_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col">
                {{form_widget(form.url)}}
            </div>
            <div class="col">
                {{form_widget(form.caption)}}
            </div>
            <button type="button" data-action="delete" data-target="#block_{{ id }}" class="remove-image btn btn-danger">X</button>
        </div>
    </div>
{% endblock %}
